.icon-button {
  background: none;
  border: none;
  /* 不知道有沒有差 */
  color: inherit;
}
.c-link {
  cursor: pointer;
}
.start-page {
  font-size: 30px;
  line-height: 300px;
  color: #ccc;
  text-align: center;
}
.main-layout {
  min-height: 100vh;
}
.logo {
  color: #ccc;
  font-weight: 500;
  font-size: 50px;
}
